<head>
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
@{
    ViewBag.Title = "NewUser";
}

<table>
    <tr>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Email Address</th>
        <th>Favorite Coffee</th>
        <th>Subscription Status</th>
    </tr>
    @for (int i = 0; i < ViewBag.User.Count; i++)
    {
        <tr>
            <td>@ViewBag.User[i].UserID</td>
            <td>@ViewBag.User[i].FirstName</td>
            <td>@ViewBag.User[i].LastName</td>
            <td>@ViewBag.User[i].PhoneNumber</td>
            <td>@ViewBag.User[i].FavoriteCoffee</td>
            <td>@ViewBag.User[i].Subscription</td>
        </tr>
    }
</table>

@ViewBag.message<br />

